.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Edit Scene

			.panel-body
			
				= render 'form'



			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							= link_to "Back", root_path, class: "btn btn-default"