.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 New Board

			.panel-body
				= render 'form'


			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							= link_to "Back", :back, class: "btn btn-default"